<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28860260506-ovlu9le9n873tu8k1fjjr3soliueldl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28860260506-ovlu9le9n873tu8k1fjjr3soliueldl4</string>
	<key>API_KEY</key>
	<string>AIzaSyCV7CZevssMLq_O0ljsa5niO50KLow2g5w</string>
	<key>GCM_SENDER_ID</key>
	<string>28860260506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>May.Tic-Tac-Toe</string>
	<key>PROJECT_ID</key>
	<string>maydevelops-tictactoe</string>
	<key>STORAGE_BUCKET</key>
	<string>maydevelops-tictactoe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28860260506:ios:4d9b75105639bcd04cbf23</string>
	<key>DATABASE_URL</key>
	<string>https://maydevelops-tictactoe.firebaseio.com</string>
</dict>
</plist>